{% extends "base.html" %}
{% import 'base.html' as macro %}.

{% block content %}
<title>Войти</title>
{% endblock %}

{% block menu_log %}
<li><a href="/main_noreg" >Главная</a></li>
<li><a href="/register">Регистрация</a></li> 
{% endblock %}

{% block content_c %}
    <div class="login-container">
        <div class="login">
            <form action="{{ url_for('login') }}" method="post">
                <input type="text" name="username" placeholder="Имя Пользователя: ">
                <input type="password" name="password" placeholder="Пароль: ">
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}